/*--------NAVIGATOR-----*/
@import "./variables.scss";

.navbarcustom{
    background-color: $colorfooter-light;
    a{
      color: white;
      text-decoration: none;
      margin: 20px;
      font-weight: 700;
      color: $colortexto-light;
    }
    a:hover{
      color: $colorprimario-light;
    }
    h1{
      color: $colorprimario-light;
    }
  }
  
  /*DARK MODE*/

.navbarcustom.dark-mode{
  background-color: $colorfooter-dark;
  color: $colortexto-dark;
  a{
    color: $colortexto-dark;
    
  }
  a:hover{
    color: $colorprimario-dark;
  }
  h1{
    display: inline;
    color: $colorprimario-dark;
    padding-right: 1000px;
  }
}