/*VARIABLES GENERALES*/

/*DARK MODE*/
$colorprimario-dark : #EB5E28;
$colorsecundario-dark: #048A81;
$colorterciario-dark : #0B3142;
$colortexto-dark : white;
$colorfooter-dark : #0C0910;
$colorfondo-dark: rgba(217, 217, 217, 0.02);
$background-color-dark: #0c0910;

/*LIGHT MODE*/

$colorfondo-light: rgba(217, 217, 217, 0.02);
$colorprimario-light: blue;
$colorsecundario-light: green;
$colorterciario-light: #A8DADC;
$colortexto-light: #1D3557;
$colorfooter-light: red;
$background-color-light: #F8F9FA;