/*VARIABLES GENERALES*/

/*DARK MODE*/
$colorprimario-dark : #EB5E28;
$colorsecundario-dark: #048A81;
$colorterciario-dark : #0B3142;
$colortexto-dark : white;
$colorfooter-dark : #0C0910;
$background-color-dark: #0c0910;
$colorfondo-dark: rgba(217, 217, 217, 0.02);

/*LIGHT MODE*/

$colorfondo-light: rgba(90, 82, 82, 0.02);
$colorprimario-light: #FF4500;      // Rojo anaranjado brillante que destaca.
$colorsecundario-light: #FFD700;   // Amarillo dorado para transmitir energía.
$colorterciario-light: #1F2041;    // Azul casi negro para un contraste fuerte.
$colortexto-light: #222222;        // Negro ligeramente atenuado.
$colorfooter-light: #F8F9FA;       // Gris casi blanco, ideal para áreas secundarias.
$background-color-light: #FFF8E1;  
